/* Importation de la police Moon Dance */
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
/* Importation de la police Moon Dance */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.moon{
    padding: 0;
    height: 50px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* variables général pour la stylisation */
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --title-color: #000;
}
/* variables pour le mode sombre */
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #695CFE;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #eee;
    --title-color: #FFF5EE;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--body-color);
    max-width: 100%;
    overflow-x: hidden;
}
@media (max-width: 767px) {
    body {
      max-width: 100%;
      overflow-x: hidden;
    }
  }
  
section{
    min-height: 100vh;
    padding-top: 25px;
}
.container{
    padding-right: 0;
}
/* Impose la largeur max */
.width-max{
    min-width: 100%;
}
/* Impose la hauteur max */
.height-max{
    min-height: 100%;
}
.text-gris{
    color: var(--text-color);
}
.text-violet{
    color: var(--primary-color);
}
.text-violet-nom{
    color: var(--primary-color);
    font-size: 26px;
    font-weight: 400;
}
.btn-gen{
    background-color: var(--primary-color);
    color: var(--body-color);
    border: none;
    padding: 15px;
    font-size: 1.5rem;
}
.btn-gen:hover{
    transform: scale(1.1);
    transition: ease .2s;
}
.titre-section{
    margin-top: 4rem;
    max-width: 100%;
    margin-bottom: 60px;
}
.titre-section h2{
    position: relative;
    max-width: 100%;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}
.section-title::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.btn-primary{
    background-color: var(--primary-color);
    border-radius: 0.8rem;
    border: none;
}
.btn-primary:hover{
    transform: scale(1.1);
    transition: ease .2s;
    background-color: var(--primary-color);
}
@media screen and (min-width: 768px){
    /* =============== Padding & Margin =============== */
    .px-lg-mega-huge{
		padding-left:9rem !important;
		padding-right:9rem !important;
	}
	.py-lg-mega-huge{
		padding-top:9rem !important;
		padding-bottom:9rem !important;
	}
    .font-size-1-2{
        font-size: 1.2rem !important;
    }
    .px-huge{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    }
    .py-huge{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    }
    .fs-md-4{
        font-size: 1.5rem !important;
    }
}
@media screen and (max-width: 576px){
    .profil_pic{
        height: 250px !important;
        width: 250px !important;
    }
    .py-xs-huge{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .px-xs-huge{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .btn-gen{
        width: 250px;
    }
}
.color-dark{
    color: black;
}
/* ==================== Sidebar ==================== */
#side_nav{
    background-color: var(--sidebar-color);
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}
.sidebar-container{
    position: fixed;
}
.content{
    min-height: 100vh;
    width: 100%;
}
.sidebar.active{
    height: 100%;
    position: static;
}
.nav-link{
    border-radius: 20px;
}
.sidebar li.active{
    background: var(--toggle-color);
    border-radius: 20px;
    z-index: 1;
}
.sidebar li.active a, .sidebar li:hover{
    color: var(--toggle-color);
    background-color: var(--primary-color);
    border-radius: 20px;
}
.sidebar li a{
    color: var(--text-color);
}
@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 2;
    }
    #side_nav.active{
        margin-left: 0;
    }
}
.sidebar li a:focus, .nav li a:hover {
    font-weight: bold;
}
.navbar{
    position: fixed;
    min-width: 100%;
    z-index: 1;
}
/* ==================== End Sidebar ==================== */
/* ==================== About Section ==================== */
.personal-info h3{
    font-size: 1.3rem;
    text-align: left;
}
.carousel-item {
    height: 200px;
    width: 100%;
}
.carousel-control-prev i,
.carousel-control-next i {
   color: black !important;
   font-size: 3.5rem;
}
.fs-progress-bar{
    font-size: 1rem;
    color: black;
    margin-right: 5px;
    min-width: 75px;
    text-align: left;
}
.progress-bar{  
    background-color: var(--primary-color);
}
.progress-80::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 20%;
}
.progress-70::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 30%;
}
.progress-60::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 40%;
}
.progress-50::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 50%;
}
.progress-40::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 60%;
}
.logo-container{
    position: absolute;
}
.logo-body img{
    max-height: 6rem;
    display: block;
    margin: auto;
}
/* ==================== End About Section ==================== */
/* ==================== Step Section ==================== */
/* CSS pour la frise chronologique */
.timeline {
    position: relative;
    padding: 20px 0;
    list-style: none;
}
.timeline:before {
    content: "";
    position: absolute;
    top: 100px;
    bottom: 110px;
    left: 50%;
    width: 5px;
    margin-left: -1.5px;
    background-color: var(--primary-color);
}
.timeline-item {
    position: relative;
    margin-bottom: 50px;
    text-align: left;
}
.timeline-icon {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.timeline-content {
    position: relative;
}
.timeline-content h2, 
.timeline-content p{
    text-align: left;
}
.timeline-content-date {
    margin-top: 0;
}
.timeline-container-school,
.timeline-container-work{
    display: none;
}
.timeline-container-school.active,
.timeline-container-work.active{
    display: block;
}
@media(min-width: 700px){
    .timeline-size{
        min-height: 61vh;
    }
}
@media(max-width: 700px){
    .timeline:before {
        content: "";
        position: absolute;
        top: 100px;
        bottom: 150px ;
        left: 50%;
        width: 5px;
        margin-left: -1.5px;
        background-color: var(--primary-color);
    }
    .timeline-right{
        max-width: 26rem;
        margin-right: 10px;
    }
}
@media(max-width: 500px){
    .timeline-right{
        max-width: 40rem;
    }
    .timeline:before {
        content: "";
        position: absolute;
        top: 100px;
        bottom: 110px;
        left: 50%;
        width: 5px;
        margin-left: -1.5px;
        background-color: var(--primary-color);
    }
}
@media(max-width: 400px){
    .timeline:before {
        content: "";
        position: absolute;
        top: 100px;
        bottom: 150px !important;
        left: 50%;
        width: 5px;
        margin-left: -1.5px;
        background-color: var(--primary-color);
    }
    .timeline-right{
        max-width: 26rem;
        margin-right: 10px;
    }
}
@media(min-width: 500px){
    .timeline-right{
        max-width: 32rem;
        margin-right: 10px;
    }
    .timeline:before {
        content: "";
        position: absolute;
        top: 100px;
        bottom: 110px;
        left: 50%;
        width: 5px;
        margin-left: -1.5px;
        background-color: var(--primary-color);
    }
}
@media(min-width: 800px){
    .timeline:before {
        content: "";
        position: absolute;
        top: 100px;
        bottom: 120px;
        left: 50%;
        width: 5px;
        margin-left: -1.5px;
        background-color: var(--primary-color);
    }
    .timeline-right{
        max-width: 100%;
        margin-right: 10px;
    }
}
/* ==================== End Step Section ==================== */
/* ==================== Projects Section ==================== */
.collapse {
    display: none;
}
.card{
    border-radius: 0px 0px 30px 0px;
}
.card:hover{
    transition: ease 0.4s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    cursor: pointer;
}
.card-header{
    background-color: rgb(247, 247, 247);
}
.card-body{
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}
.card-body button,
.card-body a{
    margin-left: 1rem;
}
.portfolio-dev-img{
    width: 100%;
    position: static;
    max-height: 380px;
    justify-content: center;
}
.card-slide{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
/* @media(min-width: 800px){
    .card-slide {
        max-height: 625px;
        white-space: nowrap;
        overflow-y: hidden;
    }
} */
/* ==================== End Projects Section ==================== */
/* ==================== Internship Section ==================== */
/* Styles pour le bloc principal */
.container-popup {
    padding: 20px;
    text-align: center;
}
.title-popup {
    font-size: 36px;
    margin-bottom: 20px;
}
/* Styles pour le bouton */
.btn {
    margin-top: 20px;
}
/* Styles pour le pop-up */
.popup {
    display: none; /* Le pop-up est caché par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
} 
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.stage-illustration{
    height: 20rem;
    width: 100%;
    position: static;
    justify-content: center;
}
/* ==================== End Internship Section ==================== */
/* ==================== Veille Section ==================== */
.reseaux-veille img{
    max-height: 6rem;
    display: block;
    margin: auto;
}
@media(max-width: 600px){
    .reseaux-veille img{
        max-height: 3rem;
    }
    .reseaux-veille h3{
        font-size: 16px;
    }
}
/* ==================== End Veille Section ==================== */
/* ==================== Contact Section ==================== */
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	max-width: 500px;
}
label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
input, textarea {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	min-width: 300px;
}
textarea {
	height: 100px;
}
input[type="submit"] {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}
input[type="submit"]:hover {
    transition: ease-in 0.5s;
	background-color: #0069d9;
}
/* ==================== End Contact Section ==================== */