/* Importation de la police Moon Dance */
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
/* Importation de la police Moon Dance */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.moon{
    padding: 0;
    height: 50px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* variables général pour la stylisation */
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --title-color: #000;
}
/* variables pour le mode sombre */
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #695CFE;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #eee;
    --title-color: #FFF5EE;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--body-color);
}
section{
    min-height: 100vh;
}
/* Impose la largeur max */
.width-max{
    min-width: 100%;
}
/* Impose la hauteur max */
.height-max{
    min-height: 100%;
}
.text-gris{
    color: var(--text-color);
}
.text-violet{
    color: var(--primary-color);
}
.text-violet-nom{
    color: var(--primary-color);
    font-family: 'Moon Dance', cursive;
    font-size: 48px;
    font-weight: 700;
}
.btn-gen{
    background-color: var(--primary-color);
    color: var(--body-color);
    border: none;
    padding: 15px;
    font-size: 1.5rem;
}
.btn-gen:hover{
    transform: scale(1.1);
    transition: ease .2s;
}
.titre-section{
    margin-top: 4rem;
    max-width: 100%;
    margin-bottom: 60px;
}
.titre-section h2{
    position: relative;
    max-width: 100%;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}
.section-title::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
@media screen and (min-width: 768px){
    /* =============== Padding & Margin =============== */
    .px-lg-mega-huge{
		padding-left:9rem !important;
		padding-right:9rem !important;
	}
	.py-lg-mega-huge{
		padding-top:9rem !important;
		padding-bottom:9rem !important;
	}
    .font-size-1-2{
        font-size: 1.2rem !important;
    }
    .px-huge{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    }
    .py-huge{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    }
}
@media screen and (max-width: 576px){
    .profil_pic{
        height: 250px !important;
        width: 250px !important;
    }
    .py-xs-huge{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .px-xs-huge{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
.color-dark{
    color: black;
}

/* ==================== Sidebar ==================== */
#side_nav{
    background-color: var(--sidebar-color);
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}
.sidebar-container{
    position: fixed;
}
.content{
    min-height: 100vh;
    width: 100%;
}
.sidebar.active{
    min-height: 100vh;
}
.sidebar li.active{
    background: var(--toggle-color);
    border-radius: 10px;
}
.sidebar li.active a, .sidebar li:hover{
    color: var(--toggle-color);
    background-color: var(--primary-color);
    border-radius: 10px;
}
.sidebar li a{
    color: var(--text-color);
}
@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}
.sidebar li a:focus, .nav li a:hover {
    font-weight: bold;
}
.navbar{
    position: fixed;
    min-width: 100%;
}
/* ==================== End Sidebar ==================== */
/* ==================== About Section ==================== */
.personal-info h3{
    font-size: 1.3rem;
    text-align: left;
}
.carousel-item {
    height: 200px;
    width: 100%;
}
.carousel-control-prev i,
.carousel-control-next i {
   color: black !important;
   font-size: 3.5rem;
}
.fs-progress-bar{
    font-size: 1rem;
    color: black;
    margin-right: 5px;
    min-width: 75px;
    text-align: left;
}
.progress-bar{  
    background-color: var(--primary-color);
}
.progress-80::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 20%;
}
.progress-70::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 30%;
}
.progress-60::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 40%;
}
.progress-50::after {
    content: "";
    background-color: grey;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 50%;
}
/* ==================== End About Section ==================== */
/* ==================== Step Section ==================== */
/* CSS pour la frise chronologique */
.timeline {
    position: relative;
    padding: 20px 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 120px;
    left: 50%;
    width: 5px;
    margin-left: -1.5px;
    background-color: var(--primary-color);
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    text-align: left;
}

.timeline-icon {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.timeline-content {
    position: relative;
}
.timeline-content h2, 
.timeline-content h2{
    text-align: left;
}

.timeline-content-date {
    margin-top: 0;
}

/* ==================== End Step Section ==================== */